.button .input {
    display: inline-block;
    margin-right: 20%;
}

.button .batn {
    margin-left: 10%;
    text-decoration: none;
}
.edit{
    margin-top: 2%;
}
.view {
    margin-left: 2%;
    margin-top: 2%;
}

.del {
    margin-left: 2%;
    margin-top: 2%;
}

.navbar{
    background-color: rgb(184, 183, 173);
    margin-bottom: 2%;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
}
.nav-text {
   color: rgb(109, 1, 43);
   padding-left: 30%;
   font-size: x-large;
   font-weight: bold;
} 
.links{
    padding-right: 15%;
} 

.cent{
    padding-left: 25%;
}
.card{
    margin-top: 3cqb;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
.h6{
    font-weight: bold;
    color: blue;
    text-align: center;
    font-size: larger;
}
.mdle{
   display: flex;
   justify-content: space-between;
}
.table{
    border: 1px solid rgba(0,0,0,0.09) ;
}
.form-group{
    margin-bottom: 2%;
}
